---
title: Search
layout: page
permalink: /search/
sitemap: false
---
<div id="search-input"></div>
<div id="search-input-icon"></div>

<main>
  <div id="right-column">
    <div id="sort-by-wrapper"><span id="sort-by"></span></div>
    <div id="stats"></div>
    <div id="hits"></div>
    <div id="pagination"></div>
  </div>
</main>

{% raw %}
<!-- TEMPLATES -->
<script type="text/html" id="hit-template">
  <div>
    <div>
      <h3><a href="{{url}}">{{title}}</a></h3>
      {% if {{h1.value}} %}<p>{{_highlightResult.h1.value}}</p><br>{% endif %}
      {% if {{h2.value}} %}<p>{{_highlightResult.h2.value}}</p><br>{% endif %}
      {% if {{h3.value}} %}<p>{{_highlightResult.h3.value}}</p><br>{% endif %}
      {% if {{h4.value}} %}<p>{{_highlightResult.h4.value}}</p><br>{% endif %}
      {% if {{h5.value}} %}<p>{{_highlightResult.h5.value}}</p><br>{% endif %}
      {% if {{h6.value}} %}<p>{{_highlightResult.h6.value}}</p><br>{% endif %}
      {% if {{text.value}} %}<p>{{_highlightResult.text.value}}</p>{% endif %}
    </div>
  </div>
</script>

<script type="text/html" id="no-results-template">
  <div id="no-results-message">
    <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
    <a href="." class='clear-all'>Clear search</a>
  </div>
</script>
<!-- /TEMPLATES -->
{% endraw %}

<!-- SCRIPTS -->
<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

<script>
  app({
    appId: '{{ site.algolia.application_id }}',
    apiKey: '{{ site.algolia.search_api }}',
    indexName: '{{ site.algolia.index_name }}'
  });

  function app(opts) {
    var search = instantsearch({
      appId: opts.appId,
      apiKey: opts.apiKey,
      indexName: opts.indexName,
      urlSync: true
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-input',
        placeholder: 'Search for post'
      })
    );

    search.addWidget(
      instantsearch.widgets.infiniteHits({
        container: '#hits',
        hitsPerPage: 10,
        templates: {
          item: getTemplate('hit'),
          empty: getTemplate('no-results')
        }
      })
    );
    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#pagination'
      })
    );
    search.start();
  }

  function getTemplate(templateName) {
    return document.querySelector('#' + templateName + '-template').innerHTML;
  }

  function getHeader(title) {
    return '<h5>' + title + '</h5>';
  }
</script>