<head>
    {% include meta.html %}
    
	<link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to Bootstrap(BootCDN) -->
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
    <script src="//cdn.bootcss.com/trianglify/1.0.1/trianglify.min.js"></script>


    <!-- Hux Delete, sad but pending in China
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/
    css'>
    -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
    <!--Prerender-->
    <link rel="prerender" href="{{ site.url }}">
    <link rel="prerender" href="{{ site.url }}/tags/">
    {% if paginator.posts %}
    {% for post in paginator.posts %}
    <link rel="prerender" href="{{ post.url | prepend: site.baseurl }}">
    {% endfor %}
    {% endif %}
    {% if page.previous.url %}
    <link rel="prerender" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">
    {% endif %}
    {% if page.next.url %}
    <link rel="prerender" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
    {% endif %}
    {% if paginator.previous_page %}
    <link rel="prerender" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
    {% endif %}
    {% if paginator.next_page %}
    <link rel="prerender" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
    {% endif %}
	
    {% if page.latex %}
    <!-- Mathjax -->
    {% include mathjax.html %}
    {% endif %}

    <!-- ga & ba script hoook -->
    <script></script>
	
	<!-- Browser Insight -->
	<script type='text/javascript'>window.BWEUM||(BWEUM={});BWEUM.info = {"stand":true,"agentType":"browser","agent":"bi-collector.oneapm.com/static/js/bw-send-411.4.5.js","beaconUrl":"bi-collector.oneapm.com/beacon","licenseKey":"NN6qJ~NQMbnZV2V2","applicationID":2284854};</script><script type="text/javascript" src="//bi-collector.oneapm.com/static/js/bw-loader-411.4.5.js"></script>

    <!-- Baidu -->
    <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
</head>
